@model HygieiaApp.Models.DTO.PatientDoctorDTO

<div style="padding-top: 22px;">
    <div class="card-body p-3">
        <form method="post" class="row">
            <div class="border p-3  mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary py-3 ">Please Select </h2>
                    <hr/>
                </div>
                <div class="form-floating py-4">
                   <label class="col-form-label" asp-for="Selected">Patient</label>
                   <select class="form-select" asp-items="@Model.ItemsForDoctor" asp-for="Selected">
                       <option id="select" disabled selected value="">Select patient</option>
                   </select>
               </div>
             
                <button type="submit" class="btn btn-primary" style="width: 100px">Submit</button>
                <a asp-controller="MedicalCondition" asp-action="Index">Back to listing</a>
            </div>
        </form>
    </div>
</div>