@model System.Collections.Generic.IEnumerable<HygieiaApp.Models.Models.TestResultsPatient>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div>
    <h2>Test Results</h2>
    <div class="row border-1">
        @foreach (var element in @Model)
        {

            <div class="card w-25 border-1 bg-light" style="margin-bottom: 15px">
                <div class="card-body">
                    <p class="card-text" id="para"><b>@element.TestName</b></p>
                    <p class="card-text">@(element.DateOfTesting.ToString("MMMM dd, yyyy") + ".")</p>
                    <br/>
                <a asp-area="Doctor" asp-action="EditResults" asp-route-id="@element.PatientId" class="btn btn-outline-success">Edit</a>&nbsp;&nbsp;
                <a href="@element.Results" class="btn btn-outline-primary">See Results</a>

                </div>
                 </div>
        }
    </div>
</div>


<script>
function reformatDate(){
    var oldDate = document.getElementById("para");
    var date = new Date(oldDate);
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    var formatted =  day + '.' + month + '.' + year + '.';
    
    document.getElementById('para').textContent = formatted;
}
</script>
