@model System.Collections.Generic.IEnumerable<ApplicationUser>

<div class="container p-3">
    <div class="row pt-4" style="margin-bottom: 120px">
        <div class="col-6">
            <h2 class="text-primary">Patients</h2>
        </div>
        
        <div class="col-6 text-end">
            <a asp-controller="Doctor" asp-action="AssignPatientToDoctor" class="btn btn-primary">
                <i class="bi bi-plus-circle-dotted"></i> &nbsp; Add new patient
            </a>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <table width="100%" id="myTable" style="margin-top: 12px" class="table table table-bordered border-1.4 border-blue">
            <thead class="thead-dark text-secondary" style="background-color: lightblue; text-overline-color: white; color: white">
            <tr class="text-primary">
                <th>
                    OIB
                </th>
                <th>
                    MBO
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th></th>
                
            </tr>
            </thead>
           
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/doctorPatients.js"></script>
}
