@model System.Collections.Generic.IEnumerable<HygieiaApp.Models.DTO.PatientVaccinationDto>

<div>
    <div class="col-6">
        <h2 class="text-primary">All vaccinations</h2>
    </div>
   
    <div class="card-body p-3">
        <form method="post" class="row">
            @if (@Model is not null)
            {
                @foreach (var date in @Model)
                {
                    <div class="card w-50" style="margin-bottom: 15px">
                        <div class="card-body">
                            <p class="card-text">@date.ImmunizationForPatient.DateOfVaccination</p>
                            <p class="card-text">@date.ImmunizationForPatient.Selected</p>
                            @if (date.ImmunizationForPatient.UserId != null)
                            {
                                <p class="card-text">@date.FullNamePatient</p>
                                <button class="btn btn-primary">Confirm</button>
                            }
                            <a asp-area="Doctor" asp-action="UpdateTheTimeOfVaccination" asp-route-id="@date.ImmunizationForPatient.Id" class="btn btn-danger">Change</a>

                        </div>
                    </div>
                }
            }

            else
            {
                <div class="border p-3  mt-4">
                    <p class="text-danger">No records of immunization reported.</p>
                </div>
                <button type="submit" class="btn btn-primary" style="width: 100px"> Submit</button>
                <a asp-area="Doctor" asp-controller="Doctor" asp-action="Index">Back to listing</a>
            }


        </form>
    </div>
</div>