@model HygieiaApp.Models.Models.ImmunizationPatient

<div class="card-body p-3">
    <form method="post" class="row">
        <div class="border p-3  mt-4">
            <div class="row pb-2">
                <h2 class="text-primary py-3 ">Create New Immunization </h2>
                <hr/>
            </div>
            <div asp-validation-summary="All"></div>
            <div class="form-floating py-2">
                <label class="col-form-label" asp-for="DateOfVaccination"></label><br/>
                <input asp-for="DateOfVaccination" class="form-control"/><br/>
            </div>
            <div class="form-floating py-4">
                <label class="col-form-label" asp-for="ImmunizationId">Medication</label>
                <input asp-for="Selected" disabled class="form-control"/>
            </div>
        </div>
            
        <button type="submit" class="btn btn-primary" style="width: 100px">Submit</button>
        <a asp-area="Doctor" asp-controller="Doctor" asp-action="Index">Back to listing</a>
      
    </form>
</div>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
