@model HygieiaApp.Models.Models.Medication


@{
    ViewData["Title"] = "Delete Medication";
}

<form method="post">
    <div class="border p-3  mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Medication</h2>
            <hr/>
        </div>
        
        <div class="mb-3">
            <label class="col-form-label" asp-for="Class"></label><br/>
            <input type="text" asp-for="Class" disabled class="form-control"/><br/>
            <label class="col-form-label" asp-for="Type"></label><br/>
            <input type="text" asp-for="Type" disabled class="form-control"/><br/>
            <label class="col-form-label" asp-for="Name"></label><br/>
            <input type="text" asp-for="Name" disabled class="form-control"/><br/>
            <label class="col-form-label" asp-for="SideEffects"></label><br/>
            <input type="text" asp-for="SideEffects" disabled class="form-control"/><br/>
        </div>
        
        <button type="submit" class="btn btn-primary" style="width: 100px">Delete</button>
        <a asp-controller="Medication" asp-action="Index">Back to listing</a>
    </div>
</form>