@using HygieiaApp.Models.Enums
@model HygieiaApp.Models.Models.MedicalCondition

@{
    ViewData["Title"] = "Create Medical Condition";
}

<div class="card-body p-3">
    <form method="post">
        <input asp-for="Id" hidden/>
        <div class="border p-3  mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Edit Medical Condition</h2>
                <hr/>
            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label class="col-form-label" asp-for="Category"></label>
                <select class="form-select" asp-items="@Html.GetEnumSelectList<ConditionCategory>()">
                    <option selected="selected" id="select" value="">Please select one of the above</option>
                </select>
                <label class="col-form-label" asp-for="Type"></label><br/>
                <input type="text" asp-for="Type" class="form-control"/><br/>
                <span asp-validation-for="Type" class="text-danger"></span><br/>
                <label class="col-form-label" asp-for="NameOfDiagnosis"></label><br/>
                <input type="text" asp-for="NameOfDiagnosis" class="form-control"/><br/>
                <span asp-validation-for="NameOfDiagnosis" class="text-danger"></span><br/>
                <label class="col-form-label" asp-for="Symptoms"></label><br/>
                <input type="text" asp-for="Symptoms" class="form-control"/><br/>
                <span asp-validation-for="Symptoms" class="text-danger"></span><br/>
                <label class="col-form-label" asp-for="Treatment"></label><br/>
                <input type="text" asp-for="Treatment" class="form-control"/>
                <span asp-validation-for="Symptoms" class="text-danger"></span><br/>
            </div>
    
            <button type="submit" class="btn btn-primary" style="width: 100px">Update</button>
            <a asp-controller="MedicalCondition" asp-action="Index">Back to listing</a>
        </div>
    </form>

</div>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
