@using HygieiaApp.Models.Enums
@model System.Collections.Generic.IEnumerable<HygieiaApp.Models.Models.Immunization>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Vaccines</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Immunization" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-dotted"></i> &nbsp; Add new immunization
            </a>
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
        <table id="immunizations" width="100%" class="table table table-bordered border-1.4 border-blue">
            <thead class="thead-dark text-secondary" style="background-color: lightblue; text-overline-color: white; color: white">
            <tr class="text-primary">
                <th>
                    Type
                </th>
                <th>
                    Used For
                </th>
                
                @if (User.IsInRole(RoleName.Administrator.ToString()))
                {
                    <th></th>
                }
                
                     
            </tr>
            </thead>
           
        </table>
    </div>
</div>

@if (User.IsInRole(RoleName.Doctor.ToString()))
{
    @section Scripts
    {
        <script src="~/js/immunizationsDoctor.js"></script>
    }
}
else
{
    @section Scripts
    {
        <script src="~/js/immunizations.js"></script>
    }
}