@model dynamic

@{
    ViewData["Title"] = "Medications";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Medications</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="" asp-action="" class="btn btn-primary">
                <i class="bi bi-plus-circle-dotted"></i> &nbsp; Add new medication
            </a>
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
        <table class="table-primary">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Class
                </th>
                <th>
                    Type
                </th>
                <th>
                    Side Effects
                </th>
                
            </tr>
            </thead>
            <tbody>
            <tr>
                
            </tr>
            </tbody>
        </table>
    </div>
</div>