@model ApplicationUser

<div class="card-body p-3">
    <form method="post" class="row" enctype="multipart/form-data">
        <input asp-for="Id" hidden/>
        <div class="row">
            <div >
                 <div class="border p-3  mt-4">
                            <div class="row pb-2">
                                <h2 class="text-primary">Edit @Model.FirstName @Model.LastName</h2>
                                <hr/>
                            </div>
                    
                     <div class="mb-3">
                         <label class="col-form-label" asp-for="Oib"></label><br/>
                         <input disabled class="form-control border-0 shadow"  asp-for="Oib"/><br/>
                         
                         <label class="col-form-label" asp-for="Mbo"></label><br/>
                         <input disabled class="form-control border-0 shadow"  asp-for="Mbo"/><br/>
                         
                         <label class="col-form-label" asp-for="FirstName"></label><br/>
                         <input disabled class="form-control border-0 shadow" asp-for="FirstName"/><br/>
                        
                         <label class="col-form-label" asp-for="LastName"></label><br/>
                         <input disabled class="form-control border-0 shadow" asp-for="LastName"/><br/>
                      
                         <label class="col-form-label" asp-for="Role"></label><br/>
                         <input disabled class="form-control border-0 shadow" asp-for="Role"/><br/>
                         
                         <label class="col-form-label" asp-for="Email"></label><br/>
                         <input disabled class="form-control border-0 shadow" asp-for="Email"/><br/>
                       

                         <label class="col-form-label" asp-for="Gender"></label>
                         <input disabled class="form-control border-0 shadow" asp-for="Gender"/><br/>
                      
                         <label class="col-form-label" asp-for="DateOfBirth">Date Of Birth</label><br/>
                         <input disabled class="form-control border-0 shadow" asp-for="DateOfBirth"/><br/>
                         
                         <button type="submit" asp-action="" asp-route-id="" class="btn btn-primary">Change password?</button>
                         
                     </div>
                    
                            <button type="submit" class="btn btn-primary" style="width: 100px">Submit</button>
                            <a asp-action="Index">Back to listing</a>
                        </div>
            </div>
            
        </div>
       
    </form>

</div>
