@page
@model HygieiaApp.Razor.Pages.Immunizations.Create

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="border p-3  mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Vaccine</h2>
            <hr/>
        </div>
        <div class="mb-2">
            <label class="col-form-label" asp-for="Immunization.Type"></label>
            <input type="text" class="text text-primary"/><br/><br/>
            <span asp-validation-for="Immunization.Type" class="text-danger"></span><br/>
            <label class="col-form-label" asp-for="Immunization.UsedFor"></label>
            <input type="text" class="text text-primary"/><br/><br/>
            <span asp-validation-for="Immunization.UsedFor" class="text-danger"></span><br/>
        </div>

        <button type="submit" class="btn btn-primary" style="width: 100px">Add</button>

    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}