@model HygieiaApp.Models.DTO.PatientDoctorDTO

<div class="card-body p-3">
    <form method="post">
        <div class="border p-3  mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Patient Details</h2>
                <hr/>
            </div>
            @if (!@Model.Tests.Equals(null))
            {
                <table class="table-primary">
                    <thead class="thead-dark text-secondary" style="background-color: lightblue; text-overline-color: white; color: white">
                    @foreach (var element in @Model.Tests)
                    {
                        <tr>
                            <td>@element.DateOfTesting</td>
                            <td>@element.TestName</td> &nbsp;&nbsp;&nbsp;
                            <td> &nbsp;<img src="@element.Results" width="20%" style="border-radius:6px; margin-left: 50px; border: 1px white; text-align: end; image-rendering:pixelated;"/></td>
                        </tr>
                        
                    }
                    </thead>
                </table>
            }
            else
            {
                <p>No previous records of test results.</p>
            }
        </div>

        <a asp-controller="Home" asp-action="Index">Back to home</a>
    </form>
</div>