@model Medication

@{
    ViewData["Title"] = "Edit Medication";
}

<form method="post">
    <div class="border p-3  mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Medication</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label class="col-form-label" asp-for="Class"></label><br/>
            <input type="text" asp-for="Class" class="form-control"/><br/>
            <span asp-validation-for="Class" class="text-danger"></span><br/>
            <label class="col-form-label" asp-for="Type"></label><br/>
            <input type="text" asp-for="Type" class="form-control"/><br/>
            <span asp-validation-for="Type" class="text-danger"></span><br/>
            <label class="col-form-label" asp-for="Name"></label><br/>
            <input type="text" asp-for="Name" class="form-control"/><br/>
            <span asp-validation-for="SideEffects" class="text-danger"></span><br/>
            <label class="col-form-label" asp-for="SideEffects"></label><br/>
            <input type="text" asp-for="SideEffects" class="form-control"/><br/>
            <span asp-validation-for="SideEffects" class="text-danger"></span><br/>
        </div>
        
        <button type="submit" class="btn btn-primary" style="width: 100px">Edit</button>
        <a asp-controller="Medication" asp-action="Index">Back to listing</a>
    </div>
</form>