@model dynamic
<partial name="_Notification"/>

@{
    ViewData["Title"] = "Scheduler";
}

<style>
    .popper,
    .tooltip {
        position: absolute;
        z-index: 9999;
        background: #FFC107;
        color: black;
        width: 150px;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
    }
</style>

<link rel="stylesheet" href="https://https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"/>



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Scheduler</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Scheduler" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-calendar2-plus"></i> &nbsp; Add new event
            </a>
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
        <div id="eventDetails" style="display: none;">
            <!-- Display event details here -->
          </div>
        <div id="calendar"></div>
     
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.min.js"></script>
         <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
            <script>
        
              document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var eventDetailsEl = document.getElementById('eventDetails');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                  initialView: 'dayGridMonth',
                  events: @Html.Raw(ViewData["Events"]),
                  resources: @Html.Raw(ViewData["Resources"]),
                  headerToolbar: {
                      left: 'today prev, next',
                      center: 'title',
                      right: 'resourceTimelineDay,timeGridWeek,dayGridMonth,listMonth'
                  },
                  eventClick: function(event) {
                           for (var i=0;i<this.events.length;i++){
                           openEventDetails(event);
                         }}
                });
                calendar.render();
              });
       
               function openEventDetails(event) {
                    // Display event details in the #eventDetails element
                    $('#eventDetails').html(`<h2>${event.title}</h2><p>${event.start} - ${event.end}</p> `);
                    $('#eventDetails').show();
                  }
            </script>
            
        
    </div>
</div> 
