@model IEnumerable<MedicalCondition>

@{
    ViewData["Title"] = "Medical Conditions";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Medical Conditions</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="MedicalCondition" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-dotted"></i> &nbsp; Add new medical condition
            </a>
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
        <table class="table-primary">
            <thead>
            <tr>
                <th>
                    Category
                </th>
                <th>
                    Type
                </th>
                <th>
                    Symptoms
                </th>
                <th>
                    Diagnosis Name
                </th>
                <th>
                    Treatment
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                
            </tr>
            </tbody>
        </table>
    </div>
</div>