@using HygieiaApp.Models.Enums;
@model HygieiaApp.Models.DTO.MedicationConditionDto;

@{
    ViewData["Title"] = "Create Medical Condition";
}
<div style="padding-top: 22px;">
<div class="card-body p-3">
    <form method="post" class="row">
        <div class="border p-3  mt-4">
            <div class="row pb-2">
                <h2 class="text-primary py-3 ">Add New Medical Condition</h2>
                <hr/>
            </div>
            <div asp-validation-summary="All"></div>
            <div class="form-floating py-4">
                <label class="col-form-label" asp-for="MedicalCondition.Category"></label>
                <select class="form-select" asp-items="@Html.GetEnumSelectList<ConditionCategory>()" asp-for="MedicalCondition.Category">
                    <option id="select" disabled selected value="">Please select one of the above</option>
                </select>
            </div>
            <div class="form-floating">
                <label class="col-form-label" asp-for="MedicalCondition.Type"></label><br/>
                <input type="text" asp-for="MedicalCondition.Type" class="form-control"/><br/>
                <span asp-validation-for="MedicalCondition.Type" class="text-danger"></span><br/>
            </div>
            <div class="form-floating">
                <label class="col-form-label" asp-for="MedicalCondition.NameOfDiagnosis"></label><br/>
                <input type="text" asp-for="MedicalCondition.NameOfDiagnosis" class="form-control"/><br/>
                <span asp-validation-for="MedicalCondition.NameOfDiagnosis" class="text-danger"></span><br/>
            </div>
            <div class="form-floating">
                <label class="col-form-label" asp-for="MedicalCondition.Symptoms"></label><br/>
                <input type="text" asp-for="MedicalCondition.Symptoms" class="form-control"/><br/>
                <span asp-validation-for="MedicalCondition.Symptoms" class="text-danger"></span><br/>
            </div>
            <div class="form-floating">
                <label class="col-form-label" asp-for="MedicalCondition.Treatment"></label><br/>
                <input type="text" asp-for="MedicalCondition.Treatment" class="form-control" />
                <span asp-validation-for="MedicalCondition.Symptoms" class="text-danger"></span><br/>
            </div>
            <div class="form-floating py-4">
                <label class="col-form-label" asp-for="MedicalConditionMedication.MedicationId">Medication</label>
                <select class="form-select" asp-items="@Model.SelectListItems" asp-for="MedicalConditionMedication.MedicationId">
                    <option id="select" disabled selected value="">Select medications</option>
                </select>
            </div>
            <div class="form-floating py-2">
                <label class="col-form-label" asp-for="MedicalConditionMedication.MaximumDosage">Maximum Dosage</label><br/>
                <input type="text" asp-for="MedicalConditionMedication.MaximumDosage" style="width: 150px; height: 45px;"> &nbsp;mg/d</input>
                <span asp-validation-for="MedicalConditionMedication.MaximumDosage" class="text-danger"></span><br/>
            </div>
         
        </div>
            
        <button type="submit" class="btn btn-primary" style="width: 100px">Submit</button>
        <a asp-controller="MedicalCondition" asp-action="Index">Back to listing</a>
      
    </form>
</div>
</div>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
