@using HygieiaApp.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - HygieiaApp</title>
    <link rel="stylesheet" href="~/css/bootswatch.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/HygieiaApp.styles.css" asp-append-version="true"/>
     <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
</head>
<body>
<header>
    <nav style="position: absolute; z-index: 1; width: 100%; height: 90px;" class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
          <a class="navbar-brand"  asp-area="Patient" asp-controller="Home" asp-action="Index">Hygieia</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
            
          <div class="collapse navbar-collapse" id="navbarColor03" style="z-index: 3;">
              
              <ul class="navbar-nav me-auto" style="list-style-type: none;">
                  @if (User.IsInRole(RoleName.Administrator.ToString()))
                  {
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                              About
                          </a>
                          <div class="dropdown-menu">
                              <a class="nav-link" asp-area="Admin" asp-controller="TestResults" asp-action="Index">Test Results</a>
                              <a class="nav-link" asp-area="Admin" asp-controller="MedicalCondition" asp-action="Index">Medical Info</a>
                              <a class="nav-link" asp-area="Admin" asp-controller="Immunization" asp-action="Index">Immunizations</a>
                              <a class="nav-link" asp-area="Admin" asp-controller="Medication" asp-action="Index">Medications</a>
                              <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Active users</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register new user</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                              Doctor Tools
                          </a>
                          <div class="dropdown-menu">
                              <a class="nav-link" asp-area="Doctor" asp-controller="Scheduler" asp-action="Index">Scheduler</a>  
                              <div class="dropdown-divider"></div>
                              <a class="nav-link text-danger" asp-area="Admin" asp-controller="User" asp-action="SeeDeletedUsers">Deleted Users</a>
                              <a class="nav-link text-danger" asp-area="Admin" asp-controller="MedicalCondition" asp-action="GetAllDeletedConditions">Deleted Conditions</a>
                              <a class="nav-link text-danger" asp-area="Admin" asp-controller="Medication" asp-action="GetAllRemoved">Deleted Conditions</a>
                          </div>
                      </li>
                  }
                 
                 @if (User.IsInRole(RoleName.Doctor.ToString()))
                  {
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                              Medical Info
                          </a>
                          <div class="dropdown-menu">
                              <a class="nav-link" asp-area="Admin" asp-controller="TestResults" asp-action="Index">Test Results</a>
                              <a class="nav-link" asp-area="Admin" asp-controller="MedicalCondition" asp-action="Index">Medical Info</a>
                              <a class="nav-link" asp-area="Admin" asp-controller="Immunization" asp-action="Index">Immunizations</a>
                              <a class="nav-link" asp-area="Admin" asp-controller="Medication" asp-action="Index">Medications</a>
                              <a class="nav-link" asp-area="Doctor" asp-controller="Doctor" asp-action="GetDeceasedPatients">Medications</a>
                          </div>
                      </li>
                      
                      <a style="list-style-type: none; text-decoration: none" class="nav-link"  asp-area="Doctor" asp-controller="Doctor" asp-action="CreateVaccinationForPatient"> Create New Vaccination Date</a>
                      <a style="list-style-type: none; text-decoration: none" class="nav-link" asp-area="Doctor" asp-controller="Doctor" asp-action="Index">My Patients</a>
                      <a style="list-style-type: none; text-decoration: none" class="nav-link" asp-area="Doctor" asp-controller="Doctor" asp-action="ReturnAllVaccines">Check All Vaccines</a>
                      <li class="nav-item">
                          <a class="nav-link" asp-area="Patient" asp-controller="Patient" asp-action="ShowUpcommingVaccinations">My Vaccinations</a>
                      </li> 
                      <li class="nav-item">
                          <a class="nav-link" asp-area="Doctor" asp-controller="Scheduler" asp-action="Index">Scheduler</a>
                      </li>
                     
                  }
                  @if (User.IsInRole(RoleName.Patient.ToString()))
                  {
                      <li class="nav-item">
                          <a class="nav-link" asp-area="Patient" asp-controller="Patient" asp-action="ShowAllPatientsAppointments">Appointments</a>
                      </li> 
                      <li class="nav-item">
                          <a class="nav-link" asp-area="Doctor" asp-controller="Doctor" asp-action="PatientInfo">My Data</a>
                      </li> 
                      <li class="nav-item">
                          <a class="nav-link" asp-area="Patient" asp-controller="Patient" asp-action="ShowUpcommingVaccinations">My Vaccinations</a>
                      </li> 
                  }
                  
              </ul>
              <partial name="_LoginPartial"/>
          </div>
            
      </div>
    </nav>
   
    <br/><br/><br/>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <partial name="_Notification"/>
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - HygieiaApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>